body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(120deg,#0f2027,#203a43,#2c5364);
    color: white;
    margin:0;
}

h1{
    text-align:center;
    padding:30px;
}

.timeline{
    position:relative;
    max-width:900px;
    margin:auto;
}

.timeline::after{
    content:'';
    position:absolute;
    width:4px;
    background:white;
    top:0;
    bottom:0;
    left:50%;
    margin-left:-2px;
}

.container{
    padding:20px 40px;
    position:relative;
    width:50%;
}

.left{
    left:0;
}

.right{
    left:50%;
}

.content{
    background:white;
    color:black;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.3);
}

.container::after{
    content:'';
    position:absolute;
    width:20px;
    height:20px;
    right:-10px;
    background:white;
    border:4px solid #0f2027;
    top:25px;
    border-radius:50%;
}

.right::after{
    left:-10px;
}